In [25]:
import pandas as pd
import os
import numpy as np
import datetime as dt

filename = "./data/reviews_ny.csv.gz"

df = pd.read_csv(filename)

In [26]:
df.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2595,17857,2009-11-21,50679,Jean,Notre séjour de trois nuits.\r<br/>Nous avons ...
1,2595,19176,2009-12-05,53267,Cate,Great experience.
2,2595,19760,2009-12-10,38960,Anita,I've stayed with my friend at the Midtown Cast...
3,2595,34320,2010-04-09,71130,Kai-Uwe,"We've been staying here for about 9 nights, en..."
4,2595,46312,2010-05-25,117113,Alicia,We had a wonderful stay at Jennifer's charming...

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 839321 entries, 0 to 839320
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     839321 non-null  int64
 1   id             839321 non-null  int64
 2   date           839321 non-null  object
 3   reviewer_id    839321 non-null  int64
 4   reviewer_name  839314 non-null  object
 5   comments       838509 non-null  object
dtypes: int64(3), object(3)
memory usage: 38.4+ MB

In [28]:
df.dtypes

listing_id        int64
id                int64
date             object
reviewer_id       int64
reviewer_name    object
comments         object
dtype: object

In [30]:
start_p1 = pd.to_datetime(dt.date(2020,1,1))
end_p1 = pd.to_datetime(dt.date(2020,2,29))
start_p2 = pd.to_datetime(dt.date(2020,3,1))
end_p2 = pd.to_datetime(dt.date(2020,7,31))
start_p3 = pd.to_datetime(dt.date(2020,8,1))
end_p3 = pd.to_datetime(dt.date(2020,12,31))
start_p4 = pd.to_datetime(dt.date(2021,1,1))
end_p4 = pd.to_datetime('today')

In [31]:
df.date = pd.to_datetime(df.date)

In [32]:
df.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2595,17857,2009-11-21,50679,Jean,Notre séjour de trois nuits.\r<br/>Nous avons ...
1,2595,19176,2009-12-05,53267,Cate,Great experience.
2,2595,19760,2009-12-10,38960,Anita,I've stayed with my friend at the Midtown Cast...
3,2595,34320,2010-04-09,71130,Kai-Uwe,"We've been staying here for about 9 nights, en..."
4,2595,46312,2010-05-25,117113,Alicia,We had a wonderful stay at Jennifer's charming...

In [36]:
pre_covid = df[(df.date > start_p1) & (df.date < end_p1)]
covid = df[(df.date > start_p2) & (df.date < end_p2)]
pre_vaccine = df[(df.date > start_p3) & (df.date < end_p3)]
post_vaccine = df[(df.date > start_p4) & (df.date < end_p4)]

In [42]:
pre_covid.info()

         listing_id            id   reviewer_id
count  2.677700e+04  2.677700e+04  2.677700e+04
mean   2.451338e+07  5.991910e+08  1.495713e+08
std    1.270438e+07  7.616420e+06  1.101873e+08
min    3.831000e+03  5.865338e+08  1.039000e+03
25%    1.474162e+07  5.922482e+08  4.651808e+07
50%    2.674392e+07  5.995539e+08  1.324988e+08
75%    3.545116e+07  6.059320e+08  2.496563e+08
max    4.549500e+07  6.121137e+08  3.390970e+08

In [39]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24948 entries, 361 to 812425
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   listing_id     24948 non-null  int64
 1   id             24948 non-null  int64
 2   date           24948 non-null  datetime64[ns]
 3   reviewer_id    24948 non-null  int64
 4   reviewer_name  24948 non-null  object
 5   comments       24885 non-null  object
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 1.3+ MB

In [40]:
pre_vaccine.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41782 entries, 388 to 824071
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   listing_id     41782 non-null  int64
 1   id             41782 non-null  int64
 2   date           41782 non-null  datetime64[ns]
 3   reviewer_id    41782 non-null  int64
 4   reviewer_name  41782 non-null  object
 5   comments       41644 non-null  object
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 2.2+ MB

In [41]:
post_vaccine.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96724 entries, 429 to 839320
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   listing_id     96724 non-null  int64
 1   id             96724 non-null  int64
 2   date           96724 non-null  datetime64[ns]
 3   reviewer_id    96724 non-null  int64
 4   reviewer_name  96724 non-null  object
 5   comments       96495 non-null  object
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 5.2+ MB